# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.pytest_cache/

# Databases, Logs & Heavy Assets
*.db
*.log
*.sqlite3
00_ARQUIVOS/

# Node / Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
